DATABASE_URL="postgresql://neondb_owner:npg_E7IKCOA5aspH@ep-empty-rain-adpkjsak-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

NEXTAUTH_URL="https://superb-travesseiro-a7c2c9.netlify.app/"
NEXTAUTH_SECRET="X/EomexuuFqxGadnGw4xpUTyrP5exZopCcbQBqCTheY="

ENABLE_AUTH=false
AUTH_TRUST_HOST=true

BACKUP_PROVIDER=local
BACKUP_LOCAL_PATH=./backups

ONEDRIVE_CLIENT_ID=
ONEDRIVE_CLIENT_SECRET=
ONEDRIVE_REFRESH_TOKEN=
GDRIVE_CLIENT_ID=
GDRIVE_CLIENT_SECRET=
GDRIVE_REFRESH_TOKEN=
GDRIVE_FOLDER_ID=
